version: "3"
services:

  nginx:
    image: nginx:stable
    container_name: nginx-test
    restart: always
    ports:
    - 8080:80
    - 59880:59880
    - 59881:59881
    - 59882:59882
    volumes:
      - ./nginx/logs:/var/log/nginx
      - ./nginx/config/conf.d:/etc/nginx/conf.d/
      - ./nginx/config/nginx.conf:/etc/nginx/nginx.conf

volumes:
  temp: